* {
  box-sizing: border-box;
}

body {
  background-color: #f3f0f0;
  margin: 0;
}

canvas {
  display: block;
}

.fadein {
  -webkit-animation: fadein 6s;
  animation: fadein 6s;
  animation-timing-function: ease-in-out;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#datguicontainer {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10;
}

#glcanvas {
  z-index: 1;
}

#loadercanvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

#recognitioncanvas {
  background-color: #fafafa;
  position: absolute;
  right: 10px;
  bottom: 10px;
  z-index: 7;
  border: 2px lightgrey solid;
}

#statscontainer {
  position: absolute;
  left: 10px;
  top: 10px;
}

#twodcanvas {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 3;
}

#webcam {
  position: absolute;
  left: 10px;
  bottom: 10px;
  z-index: 5;
  border: 2px lightgrey solid;
}
