body { margin: 0; }
canvas { display: block; }

#webcam {
    position: absolute;
    left: 20px;
    top: 380px;
    z-index: 5;
    border: 2px lightgrey solid;
}

#twodcanvas {
    position: absolute;
    left: 640px;
    top: 380px;
    z-index: 5;
    border: 2px lightgrey solid;
}