body { 
    background-color: #dadada;
    margin: 0; 
}

canvas { display: block; }

#webcam {
    position: absolute;
    left: 10px;
    top: 380px;
    z-index: 5;
    border: 2px lightgrey solid;
}

#glcanvas {
    z-index: 1;
}

#twodcanvas {
    z-index: 3;
}

#recognitioncanvas {
    background-color: #fafafa;
    position: absolute;
    left: 640px;
    top: 380px;
    z-index: 7;
    border: 2px lightgrey solid;
}